.shop{
    margin-top: 4em;
}

select{
    position: absolute;
    right: 10.3em;
    top: 5em;
    padding: 10px 25px 10px 25px;
    background-color: hsla(0, 0%, 90%, 0.839);
    outline: none;
    font-size: 13px;
    font-weight: 600;
}
select option{
    background-color: hsla(0, 0%, 90%, 0.839);
    border: none;
}